.navbar .left_menu {
    margin-left: auto;
}

.carousel {

    .carousel-inner {

        .carousel-caption {
            position: absolute;
            top: 330px;
            left: 10%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            text-align: left;
        }

        .carousel-item h1 {
            color: black;
            font-weight: 700;
        }
    }
}

section {
    padding: 5% 0px;

    .sec-title {
        text-align: center;
        margin-bottom: 5%;
    }

    .separator {
        border: 1px solid;
        width: 26%;
        margin-left: 37%;
        margin-top: 20px;
    }

    .partner_img {
        height: 200px;
    }
}

section.affiliation {
    border-top: 3px solid #e8e8e8;
    .crs-img {
        text-align: center;
      }
}

section.news {
    background: #f5f5f5;
}
.stat {
    text-align: center;
    border-right: 3px solid darkgray;
  }
  
  .last-column{
    text-align: center;
  }
  
  .number {
    font-size: 40px;
    font-weight: 500;
  }
  
  .gray-section {
    background: #f5f5f5;
  }

  .footer-section {
    background: #2e3192;
    color: white;
    padding: 30px 0px;
        a {
            color: white;
          }
          .copyright {
            font-size: 19px;
          }
      .social {
        display: inline-block;
        float: right;
          .social-links {
            display: inline-block;
            padding-left: 20px;
            .fab {
                font-size: 20px;
              }
        }
      }
    }