$min-height: calc(100vh - 153px);

header nav.navbar {
  padding-top: 0px;
  padding-bottom: 0px;

  .left_menu {
    margin-left: auto;
  }

  .navbar-brand {
    padding: 0px;

    .logo {
      height: 85px;
    }
  }
}

main {
  min-height: $min-height;
}

// PeopleList page style start

.profile-card {
  margin-top: 30px;

  .see-more-link {
    text-align: right;
    display: inline-block;
    width: 100%;
  }
}

section.profile.page {
  .profile-pic {
    margin-bottom: 10px;
  }
}

// PeopleList page style End


// Project Image Media Style Start

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

// Project Image Media Style End


.carousel {
  .carousel-inner {
    .carousel-item {
      img {
        max-height: calc(100vh - 118px);
        object-fit: cover;
      }
    }

    .carousel-caption {
      width: 40%;
      position: absolute;
      top: 18%;
      left: 20%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: left;

      .main-banner-text {
        color: lightgray;
        font-size: 18pt;
        font-weight: 500;
        text-shadow: 0px 0px 10px black;

        .highlight {
          font-weight: 700;
          font-size: 32pt;
          text-shadow: 2px 2px 2px #00000073;
          color: #bb7e45;
        }
      }
    }
  }
}

section {
  padding: 5% 0px;

  .sec-title {
    text-align: center;
    margin-bottom: 5%;
  }

  .separator {
    border: 1px solid #ebebeb;
    width: 26%;
    margin-left: 37%;
    margin-top: 20px;
  }

  .partner_img {
    height: 200px;
  }
}

section.researchthemes {
  .theme {
    & + .theme {
      margin-top: 35px;
    }

    margin-bottom: 35px;
  }

  .project_wrapper {
    display: flex;

    & + .project_wrapper {
      margin-top: 12px;
    }

    h2 {
      font-size: 1.2rem;
    }
    .img_side {
      float: left;
      display: block;
      margin-right: 15px;
      .project_img {
        width: 200px;
      }
    }
    .project_detail {
      display: block;
      float: right;
    }
  }
}

section.affiliation {
  border-top: 3px solid #e8e8e8;
  .crs-img {
    text-align: center;
  }
}

section.news {
  background: #f5f5f5;
}

.stat {
  text-align: center;
  border-right: 2px solid #ebebeb;
}

.last-column {
  text-align: center;
}

.number {
  font-size: 45px;
  font-weight: 500;
}
.label {
  font-size: 18px;
  color: #666666;
}

.gray-section {
  background: #f5f5f5;
}

.footer-section {
  background: #2e3192;
  color: white;
  padding: 20px 0px;
  p {
    font-size: 19px;
    margin-bottom: 0px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 3px;
    .fab {
      color: white;
      margin-left: 20px;
      font-size: 20px;
    }
  }
}

.publications {
  li {
    margin-top: 1.25rem;
    p {
      margin-bottom: unset;
    }
  }
}

.openings {
  .card + .card {
    margin-top: 1rem;
  }

  .card .card-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1rem;
    }
  }
}
