---
layout: master
---

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 openings">

                {% for opening in collections.openings %}
                <h2>{{opening.data.title}}</h2>
                {{opening.templateContent}}
                {% endfor %}

            </div>
        </div>
    </div>
</section>