---
layout: master
---

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 publications">
                <h1>Publications</h1>
                {{content}}
            </div>
        </div>
    </div>
</section>