---
layout: master
---

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 publications">
                {% for publication in collections.publications %}
                <div class="col-12">
                    <h6> {{publication.data.title}}</h6>
                </div>
<div class="col-12">
    <div class="chip">
        <img src="/assets/images/avatar.png" alt="Person" width="96" height="96"> {{publication.data.name}} </div>
</div>

<div class="col-12">
    <p>{{publication.templateContent}}</p>
</div>
                   
                    <br />
                    <div class="separator"></div>
                    <br /> 
                {% endfor %} 
            </div>
        </div>
    </div>
</section>