---
layout: master.liquid
---

<section class="researchthemes">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sec-title">
                    <h2>Research Themes</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>

        {% include research-themes-partial %}
    </div>
</section>