---
layout: master.liquid
---

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{page.url | url}}{{image}}" class="d-block w-100 img-responsive" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div class="transparent">
                    <h4>{{title}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="description">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gray-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sec-title">
                    <h2>Projects</h2>
                    <div class="separator"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="project_wrapper">
                    <div class="card">
                        <!-- <img src="assets/images/e_footprint.jpg" class="card-img-top card-img" alt=" ..."> -->
                        <div class="card-body">
                            <h5 class="card-title">Project 1</h5>
                            <p class="card-text">As a result of climate change andlimited water
                                availability,conventional agricultural practices inPakistan are no longer
                                optimal.Therefore, there is a need to monitornutrient demand and deciency,
                                re-evaluate suitability of crops forcultivation and susceptibility of cropsto
                                diseases. As a result, NARLresearchers are deploying the powerof GIS, drones,
                                in-situ sensors andarticial intelligence to spatially andtemporally map and study
                                Pakistan’sagro-ecological zones in order tooptimize the agricultural farm
                                input,reduce costs, increase crop yield,promote sustainability, preempt andprevent
                                spread of diseases.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="project_wrapper">
                    <div class="card">
                        <!-- <img src="assets/images/e_footprint.jpg" class="card-img-top card-img" alt=" ...">  -->
                        <div class="card-body">
                            <h5 class="card-title">Project 2</h5>
                            <p class="card-text">As a result of climate change andlimited water
                                availability,conventional agricultural practices inPakistan are no longer
                                optimal.Therefore, there is a need to monitornutrient demand and deciency,
                                re-evaluate suitability of crops forcultivation and susceptibility of cropsto
                                diseases. As a result, NARLresearchers are deploying the powerof GIS, drones,
                                in-situ sensors andarticial intelligence to spatially andtemporally map and study
                                Pakistan’sagro-ecological zones in order tooptimize the agricultural farm
                                input,reduce costs, increase crop yield,promote sustainability, preempt andprevent
                                spread of diseases.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>